body {

}
#topContent {
 text-align: right;
 background-color: skyblue;
 color: gray;
 font-size: x-large;
 text-decoration: none;
 font-weight: bold;
 padding: 10px;
 height: 50px;
 float:right;
 width:100%;
}
#rightContent{
 text-align:right;
 background-color:deepskyblue;
 color: white;
 font-size: large;
 text-decoration: none;
 font-weight: bold;
 width:10%;
 max-width:10%;
 height:100%;
 float:right;
 direction:rtl
}
#mainContent{
 text-align: right;
 background-color:white;
 color: gray;
 font-size:large;
 text-decoration: none;
 font-weight: bold;
 padding: 10px;
 width:89%;
 height: 100%;
 direction:rtl;
}
#footerContent{
    text-align:right;
 background-color: skyblue;
 color: gray;
 font-size: x-large;
 text-decoration: none;
 font-weight: bold;
 padding: 10px;
 height: 50px;
}
.gridview {
    width: 100%; 
    word-wrap:break-word;
    table-layout: fixed;
}